body {
  background-image: url('../files/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  filter: saturate(30%);
  font-family: Arial, sans-serif; /* Optional: Set a default font */
  color: white; /* Optional: Set a default text color for better contrast */
  margin: 0; /* Remove default margin */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center; /* Center the text */
  padding: 20px; /* Add some padding to the body */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.container {
  text-align: center;
  max-width: 100%;
  width: 100%;
}

h1 {
  font-size: 10em;
  font-family: "Times New Roman", Times, serif;
  color: black;
  margin-bottom: 20px; /* Add some space between the title and the audio player */
}

audio {
  width: 100%; /* Make the audio player take the full width of the container */
  max-width: 500px; /* Set a max-width to avoid being too wide on larger screens */
}

@media (max-width: 600px) {
  h1 {
    font-size: 2em; /* Adjust the font size for smaller screens */
  }
}
